.CityDisplayContainer{
    .city{
        h3 {
            margin-bottom: 1px;
        }
    }
    .day{
        h5{
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    .weathercondition{
        h6{
            margin-top: 1px;
        }
    }
}