$breakpoint-tablet: 1200px;

.singledaycomponent{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 200px;
    margin: 10px;
    .singledaycomponentbutton{
        padding: 10px;
        height: inherit;
        border: none;
        background: #3a313126;
        border-radius: 5px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        .day{
            padding: 10px;
        }
        .dayicon{
            img{
                height: 100px;
            }
        }
        .tem{
            padding: 10px;
        }
    }
}

.AlldaysContainer{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    border: 1px;
    overflow-y: hidden;
    ::-webkit-scrollbar {
        width: 2px;
      }
    ::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: $breakpoint-tablet) {
    .AlldaysContainer {
        display: block;
    }
    .singledaycomponent{
        width: 100%;
        display: block;
        margin: 10px;
        .singledaycomponentbutton{
            width: 100%;
        }
    }
}