$breakpoint-tablet: 1200px;

.singledaycomponent{
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 18%;
    .singledaycomponentbutton{
        padding: 10px;
        height: inherit;
        border: none;
        background: #3a313126;
        border-radius: 5px;
        font-size: 20px;
        color: white;
        font-weight: bold;
        .day{
            padding: 10px;
        }
        .dayicon{
            img{
                height: 100px;
            }
        }
        .tem{
            padding: 10px;
        }
    }
}

.AlldaysContainer{
    display: flex;
    justify-content: space-between;
}

@media (max-width: $breakpoint-tablet) {
    .AlldaysContainer {
        display: block;
    }
    .singledaycomponent{
        width: 100%;
        display: block;
        margin: 10px;
        .singledaycomponentbutton{
            width: 100%;
        }
    }
}