.mainContainer {
    .mainBody {
        margin: auto;
        width: 50%;
        .mainsearch {
            padding-top: 20px;
            margin: auto;
        };
        .weatherscreen{
            [class~='notfound']{
                display: flex;
                padding: 80px;
                img{
                    margin: auto;
                }
            }
        }
    }
}